.product, .price, .quantity {
    display: inline-block;
    vertical-align: middle;
}
.product {
    width: 50%;
}

.price {
    width: 20%;
}

.quantity {
    width: 20%;
}

.delete {
    width: 10%;
    display: inline-block;
}

.delete button {
    color: red;
    border: none;
    background: none;
    font-size: inherit;
}

.quantity input {
    width: 52px;
}

.totals {
    margin-top: 50px;
}

.total {
    margin-top: 20px;
    font-weight: bold;
}

.discount input, .discount button {
    margin-left: 10px;
}

.btn.apply-discount-btn {
    color: #2c9430;
}

.discount-status {
    margin-top: 10px;
}

.cart .list-row-separator {
    width: 82%;
}